@import
    "sass/_variables",
    "sass/_mixins",
    "sass/_base",
    "sass/_single-mode-view"
;


body{
	/*background-image: url('img/desert-duotone.png');*/
	background-size: cover;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	/*flex-direction: column;*/
	height: 100vh;
}

body[data-mode="modeOne"]{
	background-image: url('img/mode-one-preview.jpg');
}
body[data-mode="modeTwo"]{
	background-image: url('img/mode-two-preview.jpg');
}

.single-view h1{
	display: none;
}

.single-view h3{
	text-align: center;
}

.index-header.single-view{
	display: none;
}

section.index-header{
	background-color: $blush;
	background-size:cover;
	background-position: center center;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section.index-header h1{
	color: #34334F;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;
}
section.index-header h3{
	color: white;
	font-weight: 100;
	font-size: 4rem;
}

#section--mode-index{
	padding: 45px 0;
	margin-top: -90px;
}



#stopButton{
	background: transparent;
	display: none;
	color: white;
}
#stopButton:hover{
	background-color: rgba(255,255,255,1);
	cursor: pointer;
	color: #333;
}

#controls.hidden-on-load{
	display: none;
}


.grid-item--inner{
	height: 200px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	-webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	-moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.11);
	@include transition(all, 0.3s);
	margin-bottom: 30px;
	&:hover{
		transform: translateY(-15px);
	}

}


.grid-item--inner .mode-name{
	color: white;
	text-align: center;
}